fastapi[standard]
uvicorn
pydantic[email]
pymongo
qdrant-client
openai
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
jinja2
requests
slowapi
python-multipart
httpx
numpy
opencv-python
face_recognition
